body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;

  background-color: rgb(24, 22, 22);
  align-items: center;
}
.logo {
  margin: 20px;
  font-size: 0;
  width: 50px;
  min-width: 20px;
}
.logo__item {
  border-radius: 50%;
  width: 100%;
}

.items {
  display: flex;
  margin: 0 40px 0 0;
}

.items li {
  margin: 0 20px;
  list-style-type: none;
}
.items li:first-child {
  margin-left: 0;
}
.items li:last-child {
  margin-right: 0;
}
.item {
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
}

.items a:hover {
  color: rgb(87, 201, 195);
  opacity: 0.8;
  text-decoration: underline;
}
